
<%- include ../layouts/header.ejs %>	
		
<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/users/edit/<%= id %>" method="post" name="form1">
	<table width="25%" border="0">
		<tr> 
			<td>Name</td>
			<td><input type="text" name="name" id="name" value="<%= name %>" /></td>
		</tr>
		<tr> 
			<td>
				<h4>
					Pax
				</h4>
			</td>
			<td><input type="text" name="pax" value="<%= pax %>" /></td>
		</tr>
		<tr> 
			<td>
				<h4>
					Room Number
				</h4>
			</td>
			<td><input type="text" name="roomnumber" value="<%= roomnumber %>" /></td>
		</tr>
		<tr> 
			<td>
				Room type
			</td>
			<td>
				<select name="roomtype" value="<%= roomtype %>">
						<option value="Economy">Economy</option>
						<option value="Suite">Suite</option>
						<option value="Deluxe">Deluxe</option>
				</select>
			
			</td>
		</tr>
		<tr> 
			<td></td>
			<td><input type="submit" name="Submit" value="Edit" /></td>
		</tr>
	</table>
	<input type="hidden" name="_method" value="PUT" />
</form>


<%- include ../layouts/footer.ejs %>
